In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,LabelEncoder
from sklearn.impute import SimpleImputer

In [137]:
df = pd.read_csv(r"C:\Users\rajad\Downloads\train.csv")

In [3]:
df = df.drop(['Loan_ID'],axis=1)

In [4]:
df.nunique()

Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [5]:
rows = len(df.axes[0])
col = len(df.axes[1])

In [6]:
#Create A Copy
new_df = df.copy()

In [7]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             601 non-null    object
 1   Married            611 non-null    object
 2   Dependents         599 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      582 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 57.7+ KB

In [8]:
new_df[new_df.duplicated()]

Empty DataFrame
Columns: [Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area, Loan_Status]
Index: []

In [9]:
test_df = df.iloc[500:]

In [10]:
test_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
500,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y
501,Female,No,0,Graduate,No,3159,0.0,100.0,360.0,1.0,Semiurban,Y
502,Male,Yes,2,Graduate,No,4865,5624.0,208.0,360.0,1.0,Semiurban,Y
503,Male,Yes,1,Not Graduate,No,4050,5302.0,138.0,360.0,NaN,Rural,N
504,Male,Yes,0,Not Graduate,No,3814,1483.0,124.0,300.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [11]:
train_df = new_df.iloc[:500]

In [12]:
train_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Female,Yes,1,Graduate,No,3326,913.0,105.0,84.0,1.0,Semiurban,Y
496,Male,Yes,0,Not Graduate,No,2600,1700.0,107.0,360.0,1.0,Rural,Y
497,Male,Yes,0,Graduate,No,4625,2857.0,111.0,12.0,NaN,Urban,Y
498,Male,Yes,1,Graduate,Yes,2895,0.0,95.0,360.0,1.0,Semiurban,Y
499,Male,No,0,Graduate,No,6283,4416.0,209.0,360.0,0.0,Rural,N

In [13]:
test_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
500,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y
501,Female,No,0,Graduate,No,3159,0.0,100.0,360.0,1.0,Semiurban,Y
502,Male,Yes,2,Graduate,No,4865,5624.0,208.0,360.0,1.0,Semiurban,Y
503,Male,Yes,1,Not Graduate,No,4050,5302.0,138.0,360.0,NaN,Rural,N
504,Male,Yes,0,Not Graduate,No,3814,1483.0,124.0,300.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [14]:
train_df.isna().sum()

Gender                9
Married               3
Dependents           12
Education             0
Self_Employed        27
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
Loan_Status           0
dtype: int64

In [53]:
#Numeric --> Median
#Categorical --> Mode

num_cols = []
cat_cols = []

for i in df.columns:
  if train_df[i].dtype == 'object':
    cat_cols.append(i)
  elif train_df[i].dtype == 'int64' or train_df[i].dtype == 'float64':
    num_cols.append(i)

In [16]:
cat_cols

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [54]:
num_cols

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [18]:
df.isna().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [19]:
cat_imputer = SimpleImputer(strategy = 'most_frequent')
cat_imputer.fit(train_df[cat_cols])

train_df[cat_cols] = cat_imputer.transform(train_df[cat_cols])
test_df[cat_cols] = cat_imputer.transform(test_df[cat_cols])

C:\Users\rajad\AppData\Local\Temp\ipykernel_4080\446173718.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[cat_cols] = cat_imputer.transform(train_df[cat_cols])
C:\Users\rajad\AppData\Local\Temp\ipykernel_4080\446173718.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[cat_cols] = cat_imputer.transform(test_df[cat_cols])

In [20]:
test_df.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           4
Loan_Amount_Term     0
Credit_History       9
Property_Area        0
Loan_Status          0
dtype: int64

In [21]:
cat_imputer = SimpleImputer(strategy = 'median')
cat_imputer.fit(train_df[num_cols])

train_df[num_cols] = cat_imputer.transform(train_df[num_cols])
test_df[num_cols] = cat_imputer.transform(test_df[num_cols])

C:\Users\rajad\AppData\Local\Temp\ipykernel_4080\3469411814.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[num_cols] = cat_imputer.transform(train_df[num_cols])
C:\Users\rajad\AppData\Local\Temp\ipykernel_4080\3469411814.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[num_cols] = cat_imputer.transform(test_df[num_cols])

In [22]:
train_df['Applicant_Income'] = train_df['ApplicantIncome'] + train_df['CoapplicantIncome']

test_df['Applicant_Income'] = test_df['ApplicantIncome'] + test_df['CoapplicantIncome']

#Drop

train_df = train_df.drop(['ApplicantIncome'],axis=1)
test_df = test_df.drop(['ApplicantIncome'],axis=1)

train_df = train_df.drop(['CoapplicantIncome'],axis=1)
test_df = test_df.drop(['CoapplicantIncome'],axis=1)

C:\Users\rajad\AppData\Local\Temp\ipykernel_4080\913363912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['Applicant_Income'] = train_df['ApplicantIncome'] + train_df['CoapplicantIncome']
C:\Users\rajad\AppData\Local\Temp\ipykernel_4080\913363912.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['Applicant_Income'] = test_df['ApplicantIncome'] + test_df['CoapplicantIncome']

In [23]:
test_df.nunique()

Gender                2
Married               2
Dependents            4
Education             2
Self_Employed         2
LoanAmount           81
Loan_Amount_Term      7
Credit_History        2
Property_Area         3
Loan_Status           2
Applicant_Income    111
dtype: int64

In [24]:
le = LabelEncoder()

for col in cat_cols:
  train_df[col] = le.fit_transform(train_df[col])
  test_df[col] = le.transform(test_df[col])

In [25]:
num_cols.pop(0)
num_cols.pop(0)
num_cols.insert(0,'Applicant_Income')
num_cols.pop(3)
num_cols

['Applicant_Income', 'LoanAmount', 'Loan_Amount_Term']

In [26]:
mms = MinMaxScaler()
for col in num_cols:
  train_df[col] = mms.fit_transform(train_df[[col]])
  test_df[col] = mms.transform(test_df[[col]])

#Check Why is it fitting entire dataset

In [27]:
target = train_df['Loan_Status']
train_df  = train_df.drop(['Loan_Status'],axis=1)

test_target = test_df['Loan_Status']
test_df = test_df.drop(['Loan_Status'],axis=1)

In [28]:
test_df

,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Applicant_Income
500,0,0,0,0,0,0.140556,1.000000,1.0,0,0.036275
501,0,0,0,0,0,0.121523,0.743590,1.0,1,0.021582
502,1,1,2,0,0,0.279649,0.743590,1.0,1,0.113716
503,1,1,1,1,0,0.177160,0.743590,1.0,0,0.099424
504,1,1,0,1,0,0.156662,0.615385,1.0,1,0.048455
...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,0.079063,0.743590,1.0,0,0.018326
610,1,1,3,0,0,0.033675,0.358974,1.0,0,0.033485
611,1,1,1,0,0,0.345534,0.743590,1.0,2,0.086352
612,1,1,2,0,0,0.248902,0.743590,1.0,2,0.077189
613,0,0,0,0,1,0.169839,0.743590,0.0,1,0.039481

In [29]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(train_df,target,test_size=0.2)

In [30]:
y_train

322    1
126    1
73     0
196    1
98     1
      ..
173    1
457    0
497    1
271    1
374    1
Name: Loan_Status, Length: 400, dtype: int32

In [31]:
y_test

380    1
74     1
365    0
86     1
417    0
      ..
371    1
221    1
300    0
313    1
375    1
Name: Loan_Status, Length: 100, dtype: int32

In [32]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [33]:
lr.score(x_test,y_test)

0.84

In [34]:
# import joblib
# joblib.dump(lr,'model.pkl')

In [35]:
# train_df.to_csv('train_df.csv')

In [36]:
# test_df.to_csv('test_df.csv')

In [37]:
train_df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Applicant_Income'],
      dtype='object')

In [38]:
num_cols

['Applicant_Income', 'LoanAmount', 'Loan_Amount_Term']

In [39]:
cat_cols

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [40]:
#Custom Transformation

from sklearn.base import BaseEstimator,TransformerMixin

class MeanImputer(BaseEstimator,TransformerMixin):
  def __init__(self,variables=None):
    self.variables = variables

  def fit(self,X,y=None):
    self.dict_ = {}
    for col in self.variables:
      self.dict_[col] = np.mean(X[col])
    return self
  
  def transform(self,X):
    for col in self.variables:
      X[col].fillna(self.dict_[col],inplace=True)
    return X

In [55]:
new_df = MeanImputer(num_cols).fit(df).transform(df)

In [65]:
obj = MeanImputer(num_cols)

In [66]:
obj.fit(df)

MeanImputer(variables=['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
                       'Loan_Amount_Term', 'Credit_History'])

In [67]:
obj.dict_

{'ApplicantIncome': 5403.459283387622,
 'CoapplicantIncome': 1621.2457980271008,
 'LoanAmount': 146.41216216216216,
 'Loan_Amount_Term': 342.0,
 'Credit_History': 0.8421985815602837}

In [69]:
obj.transform(df)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [93]:
#Custom Transformation

from sklearn.base import BaseEstimator,TransformerMixin

class ModeImputer(BaseEstimator,TransformerMixin):
  def __init__(self,variables=None):
    self.variables = variables

  def fit(self,X,y=None):
    self.dict_ = {}
    for col in self.variables:
      self.dict_[col] = X[col].mode()[0]

      
    return self
  
  def transform(self,X):
    for col in self.variables:
      X[col].fillna(self.dict_[col],inplace=True)
    return X

In [96]:
ModeImputer(cat_cols).fit(df)

ModeImputer(variables=['Gender', 'Married', 'Dependents', 'Education',
                       'Self_Employed', 'Property_Area', 'Loan_Status'])

In [97]:
#Check this
ModeImputer(cat_cols).fit(df).transform(df)

C:\Users\rajad\AppData\Local\Temp\ipykernel_4080\1734261844.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X[col].fillna(self.dict_[col],inplace=True)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [98]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [100]:

class DropColumn(BaseEstimator,TransformerMixin):
  def __init__(self,variables_to_drop=None):
    self.variables_to_drop = variables_to_drop

  def fit(self,X,y=None):
    return self
  
  def transform(self,X):
    X.drop([self.variables_to_drop],axis=1,inplace = True)
    return X

In [102]:
DropColumn('Loan_ID').fit(df).transform(df)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [106]:
df['Dependents'].unique()

array(['0', '1', '2', '3+'], dtype=object)

In [107]:
df[df['Dependents'] == '3+']

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
7,Male,Yes,3+,Graduate,No,3036,2504.0,158.000000,360.0,0.000000,Semiurban,N
34,Male,No,3+,Graduate,No,12500,3000.0,320.000000,360.0,1.000000,Rural,N
61,Male,Yes,3+,Graduate,No,3029,0.0,99.000000,360.0,1.000000,Urban,Y
68,Male,Yes,3+,Not Graduate,Yes,7100,0.0,125.000000,60.0,1.000000,Urban,Y
73,Male,Yes,3+,Not Graduate,No,4755,0.0,95.000000,342.0,0.000000,Semiurban,N
74,Male,Yes,3+,Graduate,Yes,5266,1774.0,187.000000,360.0,1.000000,Semiurban,Y
78,Male,Yes,3+,Graduate,No,3167,4000.0,180.000000,300.0,0.000000,Semiurban,N
79,Male,Yes,3+,Not Graduate,Yes,3333,2166.0,130.000000,360.0,0.842199,Semiurban,Y
109,Male,Yes,3+,Not Graduate,No,2071,754.0,94.000000,480.0,1.000000,Semiurban,Y
126,Male,Yes,3+,Graduate,No,23803,0.0,370.000000,360.0,1.000000,Rural,Y
135,Male,Yes,3+,Graduate,No,4000,7750.0,290.000000,360.0,1.000000,Semiurban,N
155,Male,Yes,3+,Graduate,No,39999,0.0,600.000000,180.0,0.000000,Semiurban,Y
171,Male,Yes,3+,Graduate,No,51763,0.0,700.000000,300.0,1.000000,Urban,Y
172,Male,Yes,3+,Not Graduate,No,3522,0.0,81.000000,180.0,1.000000,Rural,N
177,Male,Yes,3+,Graduate,No,5516,11300.0,495.000000,360.0,0.000000,Semiurban,N
202,Male,Yes,3+,Not Graduate,No,3992,0.0,146.412162,180.0,1.000000,Urban,N
211,Male,Yes,3+,Graduate,No,3430,1250.0,128.000000,360.0,0.000000,Semiurban,N
213,Male,Yes,3+,Not Graduate,Yes,5703,0.0,130.000000,360.0,1.000000,Rural,Y
215,Male,Yes,3+,Not Graduate,No,3850,983.0,100.000000,360.0,1.000000,Semiurban,Y
255,Female,No,3+,Graduate,No,3083,0.0,255.000000,360.0,1.000000,Rural,Y
257,Male,Yes,3+,Graduate,No,5250,0.0,94.000000,360.0,1.000000,Urban,N
259,Male,Yes,3+,Not Graduate,No,4931,0.0,128.000000,360.0,0.842199,Semiurban,N
267,Male,Yes,3+,Graduate,No,4333,1811.0,160.000000,360.0,0.000000,Urban,Y
295,Male,Yes,3+,Graduate,No,4416,1250.0,110.000000,360.0,1.000000,Urban,Y
321,Male,Yes,3+,Graduate,No,4342,189.0,124.000000,360.0,1.000000,Semiurban,Y
324,Male,Yes,3+,Graduate,No,15000,0.0,300.000000,360.0,1.000000,Rural,Y
338,Female,No,3+,Not Graduate,No,1830,0.0,146.412162,360.0,0.000000,Urban,N
340,Male,Yes,3+,Not Graduate,No,2647,1587.0,173.000000,360.0,1.000000,Rural,N
343,Male,Yes,3+,Not Graduate,No,3173,0.0,74.000000,360.0,1.000000,Semiurban,Y
352,Male,Yes,3+,Graduate,No,2666,2083.0,95.000000,360.0,1.000000,Rural,Y
359,Male,Yes,3+,Graduate,No,5167,3167.0,200.000000,360.0,1.000000,Semiurban,Y
376,Male,Yes,3+,Graduate,No,8750,4996.0,130.000000,360.0,1.000000,Rural,Y
390,Male,No,3+,Graduate,No,9167,0.0,185.000000,360.0,1.000000,Rural,Y
391,Male,Yes,3+,Graduate,No,9504,0.0,275.000000,360.0,1.000000,Rural,Y
409,Male,Yes,3+,Graduate,No,81000,0.0,360.000000,360.0,0.000000,Rural,N
442,Male,No,3+,Not Graduate,No,4707,1993.0,148.000000,360.0,1.000000,Semiurban,Y
461,Male,Yes,3+,Graduate,No,7740,0.0,128.000000,180.0,1.000000,Urban,Y
466,Male,Yes,3+,Not Graduate,No,2947,1664.0,70.000000,180.0,0.000000,Urban,N
472,Male,Yes,3+,Graduate,No,4691,0.0,100.000000,360.0,1.000000,Semiurban,Y
481,Male,Yes,3+,Not Graduate,No,3095,0.0,113.000000,360.0,1.000000,Rural,Y
515,Male,Yes,3+,Graduate,No,3466,3428.0,150.000000,360.0,1.000000,Rural,Y
522,Male,Yes,3+,Graduate,Yes,5677,1424.0,100.000000,360.0,1.000000,Rural,Y
531,Male,Yes,3+,Graduate,No,4281,0.0,100.000000,360.0,1.000000,Urban,Y
539,Male,Yes,3+,Graduate,No,6417,0.0,157.000000,180.0,1.000000,Rural,Y
557,Male,Yes,3+,Graduate,Yes,10139,0.0,260.000000,360.0,1.000000,Semiurban,Y
567,Male,Yes,3+,Graduate,No,3400,2500.0,123.000000,360.0,0.000000,Rural,N
574,Male,Yes,3+,Graduate,No,6406,0.0,150.000000,360.0,1.000000,Semiurban,N
592,Male,No,3+,Graduate,Yes,9357,0.0,292.000000,360.0,1.000000,Semiurban,Y
600,Female,No,3+,Graduate,No,416,41667.0,350.000000,180.0,0.842199,Urban,N
602,Male,Yes,3+,Graduate,No,5703,0.0,128.000000,360.0,1.000000,Urban,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.000000,180.0,1.000000,Rural,Y

In [115]:
#Custom Transformation

from sklearn.base import BaseEstimator,TransformerMixin

class LabelEncoder(BaseEstimator,TransformerMixin):
  def __init__(self,variables=None):
    self.variables = variables

  def fit(self,X,y=None):
    return self
  
  def transform(self,X):
    self.count = 0
    for col in self.variables:
      for data in X[col].unique():
        X[X == data] = self.count 
        self.count+=1
      self.count = 0
    return X

In [116]:
LabelEncoder(['Gender']).fit(df).transform(df)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,0,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,0,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,0,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,0,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,1,No,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,0,Yes,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
611,0,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,1.0,Urban,Y
612,0,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,1,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [119]:
LabelEncoder(['Education','Dependents']).fit(df).transform(df)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,No,0,0,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,0,Yes,1,0,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,0,Yes,0,0,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,0,Yes,0,1,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,0,No,0,0,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,1,No,0,0,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,0,Yes,3,0,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
611,0,Yes,1,0,No,8072,240.0,253.000000,360.0,1.0,Urban,Y
612,0,Yes,2,0,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,1,No,0,0,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [120]:
new_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [122]:
df['Dependents'].unique()

array([0, 1, 2, 3], dtype=object)

In [ ]:
#Custom Transformation

from sklearn.base import BaseEstimator,TransformerMixin

class CustomLabelEncoder(BaseEstimator,TransformerMixin):
  def __init__(self,variables=None):
    self.variables = variables

  def fit(self,X,y=None):
    self.label_dict = {}
    for var in self.variables:
      t = X[var].value_counts().sort_values(ascending = True).index
      self.label_dict[var] = {k:i for i,k in enumerate(t,0)}
    return self
  
  def transform(self,X):
    self.count = 0
    for col in self.variables:
      X[col] = X[col].map(self.label_dict[col])
    return X

In [123]:
demo = new_df['Gender'].value_counts().sort_values(ascending = True).index

In [124]:
demo

Index(['Female', 'Male'], dtype='object', name='Gender')

In [130]:
dict_ = {k:i for i,k in enumerate(demo,0)}
dict_

{'Female': 0, 'Male': 1}

In [138]:
new_df['Gender'] = new_df['Gender'].map(dict_)

In [139]:
new_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,1.0,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,1.0,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,1.0,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,1.0,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0.0,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,1.0,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,1.0,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,1.0,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,0.0,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [141]:

class MyLabelEncoder(BaseEstimator,TransformerMixin):
  def __init__(self,variables=None):
    self.variables = variables

  def fit(self,X,y=None):
    return self
  
  def transform(self,X):
    self.count = 0
    for col in self.variables:
      for data in X[col].unique():
        X[X == data] = self.count 
        self.count+=1
      self.count = 0
    return X

In [154]:
#np log --> Transforms every value in the column
from math import log
class logprocessing(BaseEstimator,TransformerMixin):
  def __init__(self,variables = None):
    self.variables = variables

  def fit(self,X,y=None):
    return self
  
  def transform(self,X):
    for col in self.variables:
      X[col] = np.log(X[col])
    return X

In [157]:

logprocessing(['ApplicantIncome']).fit(new_df).transform(new_df)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,No,0,Graduate,No,8.674026,0.0,NaN,5.886104,1.0,Urban,Y
1,LP001003,1.0,Yes,1,Graduate,No,8.430109,1508.0,128.0,5.886104,1.0,Rural,N
2,LP001005,1.0,Yes,0,Graduate,Yes,8.006368,0.0,66.0,5.886104,1.0,Urban,Y
3,LP001006,1.0,Yes,0,Not Graduate,No,7.856707,2358.0,120.0,5.886104,1.0,Urban,Y
4,LP001008,1.0,No,0,Graduate,No,8.699515,0.0,141.0,5.886104,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0.0,No,0,Graduate,No,7.972466,0.0,71.0,5.886104,1.0,Rural,Y
610,LP002979,1.0,Yes,3+,Graduate,No,8.320205,0.0,40.0,5.192957,1.0,Rural,Y
611,LP002983,1.0,Yes,1,Graduate,No,8.996157,240.0,253.0,5.886104,1.0,Urban,Y
612,LP002984,1.0,Yes,2,Graduate,No,8.933664,0.0,187.0,5.886104,1.0,Urban,Y
613,LP002990,0.0,No,0,Graduate,Yes,8.430109,0.0,133.0,5.886104,0.0,Semiurban,N

In [156]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,8.674026,0.0,NaN,1.772594,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,8.430109,1508.0,128.0,1.772594,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,8.006368,0.0,66.0,1.772594,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,7.856707,2358.0,120.0,1.772594,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,8.699515,0.0,141.0,1.772594,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,7.972466,0.0,71.0,1.772594,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,8.320205,0.0,40.0,1.647303,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8.996157,240.0,253.0,1.772594,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,8.933664,0.0,187.0,1.772594,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,8.430109,0.0,133.0,1.772594,0.0,Semiurban,N

In [151]:
sample = pd.DataFrame(x,columns=['A','B'])

ValueError: Shape of passed values is (2, 5), indices imply (2, 2)

In [152]:
x

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [8]:
import numpy as np
x = np.array([[1,2,3,4,5,6],[2,3,4,5,6,7]])

In [10]:
mms = MinMaxScaler()
mms.fit(x)

MinMaxScaler()

In [11]:
x

array([[1, 2, 3, 4, 5, 6],
       [2, 3, 4, 5, 6, 7]])